/* @media(min-width: 1400px) {
    .right-recomend .item-category img {
        width: 60%!important;
    }
} */

@media(max-width: 1200px) {
    #mainmenu {
        inset: 0px auto auto -285px !important;
    }
}

@media(max-width: 1110px) {
    .dropdown-menu {
        width: 230px;
    }


    .dropdown-submenu {
        width: 230px;
    }

    .right-recomend .item-category img {
        width: 25%;
    }

    /* .menu-desktop {
        display: none;
    }

    .menu-1024 {
        display: block;
    } */

    .btn-group-product-filter .char-block {
        text-align: left;
    }

    .footer {
        grid-template-columns: 1fr 2fr;
    }

    .category-block {
        grid-template-columns: 1fr 1fr;
    }

    .right-product-filter {
        /* display: grid; */
        gap: 20px;
        margin-top: 20px;
    }

    .img-baner-bg {
        display: none;
    }

    .btn-filter-1024 {
        display: block;
    }

    .right-baner-bottom-1024 {
        display: block;
    }

    .baner-title {
        height: 100px;
    }

    .gallery-vertical {
        align-items: flex-start;
    }

    .gallery-wrap .img-big-wrap {
        align-items: flex-start;
    }

    .gallery-vertical {
        display: grid;
        height: 400px;
    }

    .gallery-vertical .thumbs-wrap {
        order: 2;
        flex-direction: row;
        width: 100%;
        position: relative;
        top: 15px;
    }

    .gallery-vertical .img-big-wrap {
        order: 1;
    }

    .product-detail-block {
        grid-template-columns: 1fr 1.5fr;
    }

    .cart {
        grid-template-columns: 1fr;
    }

    .gallery-wrap .img-big-wrap img {
        height: 300px;
    }

    /* .gallery-vertical .thumbs-wrap {
        top: 60px;
    } */

    .title-catalog {
        font-size: 24px;
    }

    .title-catalog {
        line-height: normal;
        margin-bottom: 10px;
    }

    .list-subcategory {
        margin-top: 15px;
    }

    .center-left-recomend {
        display: none;
    }

    .left-recomend {
        grid-template-columns: 1fr;
    }

    .select-derjavka {
        display: none;
    }

    .izbrennoe-block .btn-group-product-filter .btn-default {
        height: 38px;
        width: 38px;
        justify-content: center;
    }

    .izbrennoe-block .btn-group-product-filter .btn-default img {
        width: 20px;
        height: 20px;
    }

    .modal-dialog {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .grid-1 .card-img {
        height: 100px;
    }

    .item-recomend.item-category {
        min-height: 320px;
    }

    .right-recomend .item-category img {
        width: 85% !important;
    }

    #views .owl-nav,
    #views2 .owl-nav {
        top: -83px !important;
    }

    .category-block .item-category {
        height: 300px;
    }

    .category-block .img-catalog {
        width: 230px !important;
        height: 230px;
    }
}

@media(max-width: 850px) {
    .right-product-filter {
        display: block;
    }

    .bottom-descr {
        margin-bottom: 20px;
    }

    .btn-group-product-filter .btn-warning {
        width: 100%;
    }
}

@media(max-width: 768px) {

    .menu-desktop {
        display: none;
    }

    .category-block .img-catalog {
        width: 200px !important;
        height: 200px;
    }

    .gallery-vertical .thumbs-wrap {
        top: 0;
    }

    .menu-768 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .item-recomend.item-category {
        min-height: auto;
    }

    .recomend-block {
        grid-template-columns: 1fr 1fr;
    }

    .menu-1024 {
        display: none;
    }

    header {
        padding: 0;
    }

    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        display: none;
    }

    .top-left-recomend,
    .bottom-left-recomend {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item-recomend.item-category {
        height: 300px;
    }

    .card-img {
        width: 30%;
    }

    .mp-callback-block {
        grid-template-columns: 1fr;
    }

    #modalId .modal-body div.d-flex {
        display: grid !important;
        gap: 15px;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .menu-footer {
        justify-content: start;
    }

    .img-catalog {
        width: 50%;
    }

    .item-category {
        height: 300px;
    }



    .item-recomend {
        margin-right: 0;
    }

    .product-detail-block {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .gallery-vertical {
        height: 450px;
    }

    .items-product-block {
        padding: 0;
    }

    .btn-group-product-filter {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    .left-baner-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .modal-filter-img-checkbox {
        grid-template-columns: 1fr 1fr;
    }

    .bottom-filter-modal {
        display: grid;
        gap: 10px;
    }

    .filter-block {
        order: 1;
    }

    .list-filter {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: self-start;
    }

    .number-minus,
    .number-plus {
        top: 0;
    }

    .img-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cart .img-block {
        justify-content: start;
    }

    .cart .block-product-filter {
        display: flex;
    }

    .cart .descr-block {
        gap: 20px;
    }

    .cart .bottom-descr {
        gap: 10px;
    }



    .img-catalog {
        width: 200px !important;
        height: 200px;
    }

    /* .item-recomend {
        margin-right: 0;
    }
    .border-card{
        width: auto;
        width: 172px;
        height: 172px;
    } */

    .number-text {
        top: 0;
    }

    .grid-1 {
        display: none;
    }

    .izbrannoe-title h3 {
        margin-bottom: 0;
    }

    .izbrannoe-title {
        align-items: center !important;
    }

    .btn-group-product-filter .btn-default {
        height: 38px;
        width: 38px;
        justify-content: center;
    }

    #modal-menu-768 {
        margin-top: 80px;
    }

    .right-recomend .item-category img {
        width: 200px !important;
    }

}

@media(max-width: 600px) {
    .izbrannoe-title {
        display: grid !important;
    }

    #views .owl-nav,
    #views2 .owl-nav {
        display: none !important;
    }

    .menu-600 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-768 {
        display: none;
    }

    .izbrannoe-title h3 {
        margin-bottom: 10px;
    }

    .cart .img-block {
        display: flex !important;
    }

    .cart .block-product-filter {
        flex-direction: column;
        justify-content: center;
    }

    .number-minus,
    .number-plus {
        top: 3px;
    }

    .cart .img-block {
        justify-content: space-between;
    }

    .img-block img {
        object-fit: contain;
        width: 100%;
    }

    #catalog-mp {
        display: none;
    }

    .catalog-mp-mobile {
        display: grid;
        grid-template-columns: 1fr;
    }

    .title-catalog {
        font-size: 20px;
    }

    .img-catalog {
        width: 100px !important;
        height: 100px;
    }

    .item-category {
        height: 120px;
    }

    .btn-group-product-filter {
        flex-direction: row;
    }

    .border-top-block .number-minus,
    .border-top-block .number-plus {
        top: 3px;
    }

    .btn-group-product-filter {
        gap: 10px;
    }

    .category-block {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .recomend-block {
        grid-template-columns: 1fr;
    }

    .block-product-filter {
        display: grid;
    }

    .izbrennoe-block .btn-group-product-filter {
        flex-direction: row;
    }

    .link-catalog {
        display: none;
    }

    #modal-menu-768 {
        margin-top: 100px;
    }

    #feedback-backdrop .d-flex {
        display: grid !important;
        gap: 15px;
    }

    /* .category-block .img-catalog{
        width: 110px !important;
        height: 110px;
    } */
    .item-recomend.item-category {
        height: 200px;
    }

    .grid-2 .img-catalog {
        object-fit: fill;
        width: 50% !important;
        height: 150px;
    }

    .right-recomend .item-category img {
        width: 300px !important;
        height: 150px;
        object-fit: fill;
    }
}